<div class="layout">

  <aside class="sidebar">

    <h2>⚙️ Panel de Control</h2>

    <nav>

   <a
  routerLink="/inicio"
  routerLinkActive="activo">
  🏠 Inicio
</a>

<a
  routerLink="/libros"
  routerLinkActive="activo">
  📚 Libros
</a>

<a
  routerLink="/prestamos"
  routerLinkActive="activo">
  📖 Préstamos
</a>

<a
  routerLink="/usuarios"
  routerLinkActive="activo">
  👥 Usuarios
</a>

<a
  routerLink="/reportes"
  routerLinkActive="activo">
  📊 Reportes
</a>

<a
  routerLink="/configuracion"
  routerLinkActive="activo">
  ⚙️ Configuración
</a>

<a (click)="cerrarSesion()">🚪  Cerrar Sesión</a>

    </nav>

  </aside>

  <main class="contenido">

    <router-outlet></router-outlet>

  </main>

</div>