<div class="layout">

  <aside class="sidebar">

    <h2>⚙️ Panel de Control</h2>

    <nav>

      <a routerLink="/inicio">🏠  Inicio</a>

      <a routerLink="/libros">📚  Libros</a>

      <a routerLink="/prestamos">📖  Préstamos</a>

      <a routerLink="/usuarios">👥  Usuarios</a>

      <a routerLink="/reportes">📊  Reportes</a>

      <a routerLink="/configuracion">⚙️  Configuración</a>

      <a (click)="cerrarSesion()">🚪  Cerrar Sesión</a>

    </nav>

  </aside>

  <main class="contenido">

    <router-outlet></router-outlet>

  </main>

</div>