.login-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background: #f3f4f6;
}

.login-card{
    width: 100%;
    max-width: 520px;
    background: #ffffff;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0,0,0,.08);
    border-top: 6px solid #a50000;
    text-align: center;
    position: relative;
}
.logo-biblioteca{
    width: 250px;      
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
}

.login-card h1{
    margin: 0;
    font-size: 38px;
    font-weight: 700;
    color: #1f2937;
    line-height: 1.2;
}

.subtitulo{
    margin-top: 10px;
    margin-bottom: 35px;
    color: #6b7280;
    font-size: 17px;
}

input{
    width: 100%;
    padding: 16px;
    margin-bottom: 18px;
    border-radius: 14px;
    border: 1px solid #d1d5db;
    background: white;
    font-size: 15px;
    box-sizing: border-box;
    transition: .3s;
}

input:focus{
    outline: none;
    border-color: #a50000;
    box-shadow: 0 0 0 4px rgba(165,0,0,.10);
}

button{
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 14px;
    background: #a50000;
    color: white;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
    transition: .3s;
}

button:hover{
    background: #860000;
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(165,0,0,.20);
}

.registro{
    margin-top: 25px;
    margin-bottom: 8px;
    color: #000000;
}

.recuperar{
    margin-top: 12px;
}

a{
    color: #a50000;
    text-decoration: none;
    font-weight: 600;
}

a:hover{
    text-decoration: underline;
}

@media(max-width:768px){
    .login-card{
        padding: 30px;
    }
    .login-card h1{
        font-size: 30px;
    }
    .logo{
        width: 140px;
    }
}

.ayuda-login{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.ayuda-login a{
  text-decoration: none;
  color: #b30000;
  font-size: 14px;
  font-weight: 500;
  transition: 0.3s;
}

.ayuda-login a:hover{
  color: #7a0000;
  text-decoration: underline;
}

.password-container{
    position: relative;
    width: 100%;
}

.password-container input{
    padding-right: 50px;
    margin-bottom: 18px;
}

/* Botón del ojo */
.btn-password{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);

    width: auto;
    padding: 0;
    margin: 0;

    background: transparent;
    border: none;
    box-shadow: none;

    color: #8a8a8a;
    font-size: 20px;
    cursor: pointer;
}

.btn-password:hover{
    background: transparent;
    transform: translateY(-50%);
    box-shadow: none;
    color: #555;
}