<button
  (click)="mostrarFormulario = !mostrarFormulario">

  ➕ Nuevo Préstamo
</button>

<div class="pagina-prestamos">
<div *ngIf="mostrarFormulario" class="formulario">

  <h3>Nuevo Préstamo</h3>

  <select [(ngModel)]="nuevoPrestamo.usuario_id">

    <option value="">
      Selecciona un usuario
    </option>

    <option
      *ngFor="let usuario of usuarios"
      [value]="usuario.id">

      {{ usuario.nombre }}

    </option>

  </select>

  <br><br>

  <select [(ngModel)]="nuevoPrestamo.libro_id">

    <option value="">
      Selecciona un libro
    </option>

    <option
      *ngFor="let libro of libros"
      [value]="libro.id">

      {{ libro.titulo }}

    </option>

  </select>

  <br><br>

  <button (click)="guardarPrestamo()">
    Guardar Préstamo
  </button>

</div>

<table>

  <thead>
    <tr>
      <th>Usuario</th>
      <th>Libro</th>
      <th>Fecha Préstamo</th>
      <th>Fecha Devolución</th>
      <th>Tipo Usuario</th>
    </tr>
  </thead>

  <tbody>

    <tr *ngFor="let prestamo of prestamos">

      <td>{{ prestamo.usuario }}</td>

      <td>{{ prestamo.libro }}</td>

      <td>{{ prestamo.fecha_prestamo }}</td>

      <td>{{ prestamo.fecha_devolucion }}</td>

      <td>{{ prestamo.tipo }}</td>

    </tr>

  </tbody>

</table>

<div class="chart-container">
  <canvas id="grafica"></canvas>
</div>


</div>
<div class="card-ultimos-prestamos">

  <h2>📌 Últimos Préstamos</h2>

  <table>
    <thead>
      <tr>
        <th>Alumno</th>
        <th>Libro</th>
        <th>Fecha</th>
        <th>Estado</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let p of prestamos">

        <td>{{ p.alumno }}</td>
        <td>{{ p.libro }}</td>
        <td>{{ p.fecha }}</td>

        <td>
          <span [class]="p.estado">
            {{ p.estado }}
          </span>
        </td>

      </tr>
    </tbody>

  </table>

</div>