<h1>⚙️ Configuración del Sistema</h1>

<div class="config-grid">

 
  <div class="config-card">

    <h3>🏫 Información de la Biblioteca</h3>

    <div class="dato">
      <label>Nombre de la Biblioteca</label>
      <p>Biblioteca Universidad del Istmo</p>
    </div>

    <div class="dato">
      <label>Correo Institucional</label>
      <p>biblioteca@unistmo.edu.mx</p>
    </div>

    <div class="dato">
      <label>Teléfono</label>
      <p>971 000 0000</p>
    </div>

  </div>

 
  <div
    class="config-card"
    *ngIf="tipoUsuario === 'admin'">

    <h3>👤 Perfil del Administrador</h3>

    <label>Nombre</label>
    <input
      type="text"
      value="Administrador">

    <label>Correo</label>
    <input
      type="email"
      value="admin@unistmo.edu.mx">

    <label>Nueva Contraseña</label>
    <input
      type="password">

    <button>
      Actualizar Perfil
    </button>

  </div>

  <div class="config-card">

  <h3>🔐 Seguridad</h3>

  <label>Contraseña Actual</label>
  <input
    type="password"
    [(ngModel)]="passwordActual">

  <label>Nueva Contraseña</label>
  <input
    type="password"
    [(ngModel)]="nuevaPassword">

  <button (click)="cambiarPassword()">
    Actualizar Contraseña
  </button>

</div>

  
  <div
    class="config-card"
    *ngIf="tipoUsuario === 'admin'">

    <h3>💾 Base de Datos</h3>

    <p>Estado de conexión:</p>

    <span class="estado">
      Conectado
    </span>

    <button>
      Verificar Conexión
    </button>

  </div>

</div>
